{% load staticfiles i18n static %}

<div class="mySlides w3-display-container w3-center">
     <img src="{% static 'images/Gomateshva.jpg' %}" style="width:100%; height:600px;">
     <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32">
        <h3><a href="{% url 'event' '1' %}#event_details">
            संयम स्वर्ण महोत्सव एवं वेदी प्रतिष्ठा
        </a>
        </h3>
        <p><b>
            आचार्य श्री दीक्षा दिवस कार्यक्रम
        </b></p>
     </div>
 </div>
<div class="mySlides w3-display-container w3-center">
     <img src="{% static 'images/Screen_Shot_2018-06-24_at_00.11.25.png' %}" style="width:100%; height:600px;">
     <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3><a href="{% url 'event' '1' %}#event_details">
            संयम स्वर्ण महोत्सव एवं वेदी प्रतिष्ठा
        </a>
        </h3>
        <p><b>
            आचार्य श्री दीक्षा दिवस कार्यक्रम
        </b></p>
     </div>
 </div>
<div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/Gomateshva-2.jpg' %}" style="width:100%; height:600px;">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3><a href="{% url 'event' '1' %}#event_details">
            संयम स्वर्ण महोत्सव एवं वेदी प्रतिष्ठा
        </a>
        </h3>
        <p><b>
            आचार्य श्री दीक्षा दिवस कार्यक्रम
        </b></p>
    </div>
</div>