{% load staticfiles i18n static %}
<!DOCTYPE html>
<html>
    <title>{% block title %}Home{% endblock %} | {% trans "PunyaUday Fund" %}</title>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block extra_css %}{% endblock %}

    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>

    <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/favicon.ico' %}" />
    <body>

        {% include 'navbar.html' %}

        <!-- Page content -->
        <div class="w3-content" style="max-width:2000px;margin-top:46px">

            <!-- Automatic Slideshow Images -->
            <div>
                {% if mandir.get_images%}
                    {% for img_obj in mandir.get_images %}
                        <div class="mySlides w3-display-container w3-center">
                            <img src="{% static img_obj.image %}" style="width:100%; height:600px;">
                            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                              <h3><a href="{{img_obj.event_url}}">{{img_obj.title | safe }}</a></h3>
                              <p><b>{{img_obj.description}}</b></p>
                            </div>
                        </div>
                    {%endfor%}
                {% else %}
                    {% include 'banner_data.html' %}
                {% endif %}
            </div>

            <!-- The Band Section -->
            {% block main %}{% endblock %}

        <!-- End Page Content -->
        </div>

        <!-- Add Google Maps -->
        <div id="googleMap" style="height:400px;" class="w3-grayscale-max"></div>

        <script src="{% static 'js/punyauday.js' %}"></script>

        <script>
        carousel();
        function initialize() {

            {% if mandir.lat %}
                var myCenter=new google.maps.LatLng({{mandir.lat}}, {{mandir.long}});
            {% else %}
                var myCenter=new google.maps.LatLng(18.557024, 73.75092)
            {% endif %}
            plot_map(myCenter, "googleMap");

            /* Create dynamic grap for all temples */
            {% for mdir in mandirs %}
                var loc = new google.maps.LatLng({{mdir.lat}}, {{mdir.long}});
                plot_map(loc, "map_{{mdir.id}}");
            {% endfor %}
        }

        function plot_map(location, div_id) {
            var mapOptions= {
                center: location,
                zoom:14, scrollwheel: false, draggable: false,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map=new google.maps.Map(document.getElementById(div_id), mapOptions);

            var marker = new google.maps.Marker({
                position: location,
            });

            marker.setMap(map);
        }

        function isNumberKey(evt){
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb82Qph6YtEFs9VRyfQk3BgDib5YaGsfk&callback=initialize"></script>

        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
            {% include 'footer.html' %}
        </footer>
    {% block extra_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% endblock %}
    </body>
</html>

