{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}{% trans "About Us" %}{% endblock %}

{% block main %}

<!-- The about us Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <center>
        {% for message in messages %}
            <span style="color: {% if form.errors %} red; {% else %} green; {% endif %}">
                <b>{{ message }}</b>
            </span>
        {% endfor %}
    </center>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Pune, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 9552105933<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: jain.scs@gmail.com<br>
      </div>
      <div class="w3-col m6">
        <form role="form" action="" method="post">
            {% csrf_token %}
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
                {{ form.contact_name }}
            </div>
            <div class="w3-half">
              {{ form.contact_email }}
            </div>
          </div>
          {{ form.message }}
            <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
            <button class="w3-button w3-black w3-section w3-right" type="reset" style="margin-right:10px;">RESET</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}