{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="record">
        <h2 class="w3-wide w3-center">RECORDS</h2>
        <p class="w3-opacity"><i>Jai Jinendra</i></p>

        {% if records and not request.user.is_authenticated %}
            <p>{% if records.0.account.description %}
                    {{ records.0.account.description }}
                {% else %}
                    <p class="w3-opacity" style="color:blue;"><i>Entry corresponding to default number</i></p>
                    {{ records.0.get_default_description }}
                {% endif %}
            </p>
        {% endif %}

        <table class="w3-table w3-bordered w3-table-all w3-centered" style="overflow: scroll;">
            <tr>
                <th>{% trans 'TITLE' %}</th>
                {% if request.user.is_authenticated %}
                    <th>{% trans 'NAMES' %}</th>
                {% else %}
                    <th>{% trans 'MANDIR NAME' %}</th>
                {% endif %}
                <th>{% trans 'BOLI DATE' %}</th>
                <th>{% trans 'AMOUNT' %}</th>
            </tr>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td style="vertical-align:middle !important">{{record.get_title}}</td>
                        <td style="vertical-align:middle !important">
                            {% if request.user.is_authenticated %}
                                {% if record.account.description%}
                                    {{record.account.description}}
                                {% else %}
                                    <i style="color:blue;">Entry corresponding to default number</i><br>
                                    {{ record.get_default_description }}
                                {% endif %}
                            {% else %}
                                {{ record.mandir.name }}
                            {% endif %}
                        </td>
                        <td style="vertical-align:middle !important">{{record.boli_date|date}}</td>
                        <td style="vertical-align:middle !important" class="w3-small">
                            <button class="w3-button w3-black w3-tooltip" title="Send an email"
                                    onclick="display_model('{{record.id}}', '{{record.amount}}')"><b>{{record.amount}}/-</b> <br>{% trans 'PAID' %}</button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="5"><center>
                    {% if phone_number %}
                        <span style="font-weight:bold; color:blueviolet;">Thanks for the donations</span> <br>
                    There is no record in <b>not paid</b> status for {{phone_number}}
                    {% else %}
                       No record found !
                    {% endif %}
                </center></td></tr>
            {% endif %}
        </table>
    </div>
    {% include 'update_form.html' %}
{% endblock %}