{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="home">
    <h3 class="w3-center">MANDIR DETAILS</h3>
    <p class="w3-opacity w3-center"><i>Jai Jinendra</i></p>

    <div class="w3-row w3-padding-32 w3-section">
    {% for mandir in mandirs %}
        <div class="w3-col m4 w3-container">
            <!-- Add Google Maps -->
            <div id="map_{{mandir.id}}" class="w3-round-large w3-greyscale" style="width:100%;height:300px;"></div>
        </div>
        <div class="w3-col m8 w3-panel" style="margin-top: 0px !important;">
            <div class="w3-large w3-margin-bottom">
                {% if mandir.bank_name %}
                    <span class="w3-opacity w3-text-green"><i>Bank Details:-</i></span><br>
                    <i class="fa fa-bank fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{mandir.bank_name}}<br>
                    <i class="fa fa-user fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Ac Holder Name: {{mandir.account_name}}<br>
                    <i class="fa fa-address-card fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Account Number: {{mandir.account_number}}<br>
                    <i class="fa fa-barcode fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> IFSC Code: {{mandir.ifsc_code}}<br>
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Branch: {{mandir.branch}}<br>
                    <!-- <div class='pm-button'>
                        <a target="_blank" href='https://www.payumoney.com/paybypayumoney/#/9055CFF2373C0B104DAEC8987CAF770E'>
                            <img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/23.png' />
                        </a>
                    </div> -->
                {% endif %}
                <span class="w3-opacity w3-text-green"><i>Contact Details:-</i></span><br>
                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{mandir.city}}, India<br>
                <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +91 - {{mandir.contract_number}}<br>
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: {{mandir.email}}<br>
            </div>
        </div>
        <span id="video-sd">
            <h3 class="w3-center">आज की शांतिधारा</h3>
            <iframe
                src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/susjainmandirji/live"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
                height="500px"
                width="100%">
            </iframe>
        </span>
        <p>{% if mandir.committee_name %}{{mandir.committee_name}}{% else %}{{mandir.name}}{% endif %}</p>
        <p>{{ mandir.description }}</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
