  <!-- Ticket Modal -->
  <div id="EmailModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-16">
        <span onclick="document.getElementById('EmailModal').style.display='none'"
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Payment Details</h2>
      </header>
      <form action="{% url 'payment-done' %}" method="post" name="paymentComplete">
          {% csrf_token %}
          <div class="w3-container">
            <p><label><i class="fa fa-shopping-cart"></i>
                Amount paid: <span id="amount_val">0</span>.00/-
            </label></p>
            <input type="hidden" id="record_id" name="record_id">
            <input type="hidden" id="phone_number" name="phone_number">
            {{payment_form.payment_mode}}
            <p>
                {{payment_form.id_details}}
            </p>
            <p><label><i class="fa fa-user"></i> Send To</label></p>
            {{payment_form.send_to}}
            <p>
                {{payment_form.remark}}
            </p>

            <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" type="submit">
                SEND EMAIL <i class="fa fa-check"></i>
            </button>

            <button class="w3-button w3-red w3-section" onclick="document.getElementById('EmailModal').style.display='none'">
                Close <i class="fa fa-remove"></i>
            </button>
          </div>
       </form>
    </div>
  </div>